body {
    background-color: black;
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 3px; /* Adjust this margin if needed */
}

.centered-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 70px; /* Adjust this margin if needed */
}

.main-title {
    font-size: 2rem;
    font-weight: bold;
}

.quote {
    font-size: 1.5rem;
    margin-top: 20px;
}
